.CompareTable {
  box-sizing: border-box;
  width: 100%;
}

.CompareTable thead {
  font-weight: bold;
}

.CompareTable thead,
.CompareTable tr:nth-child(even) {
  background: rgb(49, 49, 49);
}

.CompareTable tr td:first-child {
  color: #bbb;
  font-weight: bold;
}

.CompareTable td {
  padding: 2px;
  padding-right: 10px;
}
