* {
  font-family: monospace;
  font-size: 12pt;
}

body {
  background: #000;
  color: #ddd;
}

h1 {
  font-size: 120%;
  margin: 0 auto 0 auto;
  /* margin-bottom: 0px; */
}

p {
  margin-top: 5px;
}

div.select {
  padding: 5px;
}

div.select label {
  padding-right: 5px;
}

select {
  box-sizing: border-box;
  padding: 5px;

  background: rgb(49, 49, 49);
  color: #ddd;
}

a {
  color: #ddd;
}

table {
  box-sizing: border-box;
}

table thead {
  font-weight: bold;
}

table thead,
table tr:nth-child(even) {
  background: rgb(49, 49, 49);
}

table thead:hover,
table tr:nth-child(even):hover,
table tr:nth-child(odd):hover {
  background: #ccc;
  color: #000;
}

/* Thanks to help from https://stackoverflow.com/a/7217397/5511776 */
table thead:hover,
table tr:nth-child(even):hover td,
table tr:nth-child(odd):hover td,
table tr:nth-child(even):hover button,
table tr:nth-child(odd):hover button {
  background: #ccc;
  color: #000;
}

table tr td:first-child {
  color: #bbb;
  font-weight: bold;
}

table tr td:first-child button {
  text-decoration: underline;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
  text-align: left;
}

table td {
  padding: 2px;
  padding-left: 5px;
  padding-right: 10px;
}

button {
  padding: 5px;
  min-width: 35px;
}
