* {
  font-family: monospace;
  font-size: 14pt;
}

body {
  background: #000;
  color: #ddd;
}

div.select {
  padding: 5px;
}

div.select label {
  padding-right: 5px;
}

select {
  box-sizing: border-box;
  padding: 5px;

  background: rgb(49, 49, 49);
  color: #ddd;
}

a {
  color: #ddd;
}

table {
  box-sizing: border-box;
}

table thead {
  font-weight: bold;
}

table thead,
table tr:nth-child(even) {
  background: rgb(49, 49, 49);
}

table tr td:first-child {
  color: #bbb;
  font-weight: bold;
}

table tr td:first-child button {
  text-decoration: underline;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}

table td {
  padding: 2px;
  padding-right: 10px;
}
