* {
  font-family: monospace;
}

body {
  background: #000;
  color: #ddd;
}

select {
  box-sizing: border-box;
  padding: 5px;

  background: rgb(49, 49, 49);
  color: #ddd;
}

a {
  color: #ddd;
}
