.Compare {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.Compare div {
  width: 100%;
  flex-direction: row;
  margin: 10px;
}

.Compare select {
  width: 100%;
  box-sizing: border-box;
}

.versus {
  width: 20px;
  text-align: center;
}
