.Compare {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Compare div {
  /* width: 100%; */
  /* margin: 10px; */
}

.Compare select {
  width: 100%;
  box-sizing: border-box;
}

.versus {
  width: 20px;
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .Compare {
    flex-direction: row;
  }

  .CompareSide-Container table {
    /* width: 500px; */
  }
}
