.Compare {
  box-sizing: border-box;
  width: 100%;
}

.CompareSide-Container {
  /* text-align: center; */
}

.CompareSide-Sticky {
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 5px;
}

.Compare select {
  width: 100%;
  box-sizing: border-box;
}

.versus {
  font-size: 120%;
  width: 50px;
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .Compare {
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1000px;
  }

  .CompareDescription {
    margin: 0 auto;
    max-width: 500px;
  }

  .CompareSide-Container {
    flex-grow: 1;
  }
}
